


.box1{

  padding: 150px;
  border: 5px solid black;
  margin: 0;
}
.box2 {

  padding: 150px;
  border: 5px solid black;
  margin: 0;
}
.box3 {
  padding: 150px;
  border: 5px solid black;
  margin: 0;
}

.box4{
  padding: 150px;
  border: 5px solid black;
  margin: 0;
}
.box5 {

  padding: 150px;
  border: 5px solid black;
  margin: 0;
}
.box6 {
  padding: 150px;
  border: 5px solid black;
  margin: 0;
}

.box7{

  padding: 150px;
  border: 5px solid black;
  margin: 0;
}
.box8 {

  padding: 150px;
  border: 5px solid black;
  margin: 0;
}
.box9{
  padding: 150px;
  border: 5px solid black;
  margin: 0;
}
